<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-top">
    <div class="container">
      <a class="navbar-brand fs-2 fw-bold" href="#"><i class="fa fa-cart-shopping fs-2" style="color: #f54242;"></i><span class="textBlur">Shopwise</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-semibold text-uppercase me-1 text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
              Home
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Option</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase text-black me-1"><i class="fa fa-cart-shopping"></i>Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link position-relative" href="#"><i class="fa fa-shopping-cart fs-5" style="color: #0c0d0d;"></i>
            <span class="position-absolute mt-2 top-0 start-100 translate-middle badge rounded-pill bg-danger">3+
              <span class="visually-hidden">unread message</span>
            </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
